---
layout: splash
title: Elliott Hall
header:
  image: /assets/images/time_enough_at_last.jpg
  caption: "Time enough at last"
intro: 
  - title: 'Elliott Hall'
    excerpt: 'Try again.  Fail again.  Fail better.'
    
feature_row:
  - image_path: /assets/images/First_Stone.jpg
    alt: "The First Stone"
    title: "The First Stone"
    excerpt: Private eye Felix Strange doesn’t work homicide cases. He saw enough dead bodies fighting in Iran, a war that left him with a crippling disease that has no name and no cure. So when Strange is summoned to a Manhattan hotel room to investigate the dead body of America’s most-loved preacher, he’d rather not get involved.
    url: "/the_first_stone/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/Rapture.jpg
    alt: "The Rapture"
    title: "The Rapture"
    excerpt: Isaac Taylor isn’t missing. According to government records, he never existed. PI Felix Strange isn’t convinced, not least because Isaac is an old army buddy. Strange soon discovers Isaac isn’t the only one missing. All over the country, young and old, men and women, the good and the trying-to-be, are disappearing – quite literally without a trace.
    url: "/the_rapture/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/Childrens_Crusade.jpg
    alt: "The Children's Crusade"
    title: "The Children's Crusade"
    excerpt: Felix Strange is working his last case.  Across the American South, the militant Sons of David are on the rise. Their leader, the prophet Joshua, is leading a teenage rebellion, promising a new world to replace the sinful old. Strange’s mission, should he choose to accept it, is to assassinate Joshua.The problem? He’s twelve years old.
    url: "/the_childrens_crusade/"
    btn_label: "Read More"
    btn_class: "btn--inverse"

gallery:
  - url: https://www.djangoproject.com/
    image_path: /assets/images/django-logo.png
    alt: ""
    title: "Django"      
  - url: https://www.python.org/
    image_path: /assets/images/python-logo.png
    alt: ""
    title: "Python"
  - url: #
    image_path: /assets/images/cropped-HTML5_CSS_JavaScript.png
    alt: ""
    title: "HTML5_Javascript"
  - url: https://go.java/index.html?intcmp=gojava-banner-java-com
    image_path: /assets/images/Java_logo.png
    alt: ""
    title: "Java"
  - url: https://unity3d.com/
    image_path: /assets/images/unity-logo-square.png
    alt: ""
    title: "Unity"
  

---

<div class="feature__wrapper">
<div class="feature__item--center">
      <div class="archive__item">
        

        <div class="archive__item-body">
          
            <h2 class="archive__item-title name-title">Elliott Hall</h2>
          

          
            <div class="archive__item-excerpt strap-line">
              <p>Try again.  Fail again.  Fail better.</p>

            </div>
          

          
        </div>
      </div>
    </div>
    </div>
<!--<h2 id="books" class="text-center">About Me</h2>

<p class="text-center">I am a writer, developer, and other things.  I live in London.</p>-->


<h2 id="books" class="text-center">Books</h2>


{% include feature_row %}

<h2 id="developer">Developer</h2>

<div>
<p >I'm a nose-to-tail web developer, with experience in MySQL, Postgres, Python, Django, Java, and Javascript.  I model databases, and build front and backend interactions with scripting thrown in.  My work focuses on practice-led research in the Digital Humanities.  I'm currently Senior Developer at <a href="https://kdl.kcl.ac.uk">King's Digital Lab</a>.</p>

<p>Recently I've become interested in using the Raspberry Pi and Micro:Bit in education and immersive theatre.  More on that when I know what I'm talking about.</p>
</div>
{% include gallery %}

<h2 id="contact" class="text-center">Contact</h2>

<p class="text-center">contactelliotthall[at]gmail.com</p>

<p class="text-center">Literary Representation</p>

<p  class="text-center">Rob Dinsdale of <a href="http://www.independentliterary.com/">Independent Literary</a></p>
<div class="page-icons">
  <div class="social-icons text-center">
  <a href="http://github.com/elliotthall"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
<a href="https://twitter.com/TheLastDantes"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
     <a href="https://www.facebook.com/Elliott-Hall-65710439416/"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
     <a href="https://www.linkedin.com/in/elliott-hall-a4293a98/"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></i></a>
  </div>  
  </div>